<div class="view view-first portfolio logo" data-cat="logo">
    <img src="images/portfolio/thumb/12.jpg" />
    <div class="mask">
        <h2>Project Name</h2>
        <p>A wonderful serenity has taken possession of my entire soul.</p>

        <a href="images/portfolio/12.jpg" rel="portfolio" target="_blank" class="info open-imag">
            <i class="fa fa-search"></i>
        </a>
        <a href="http://themeforest.net/user/flexycodes" class="info external"><i class="fa fa-link"></i></a>
    </div>
</div>