<!DOCTYPE html>
<html>

  <head>
    {% include_cached head.html %}
    {% include scripts/mathjax.html %}
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->


    {% include_cached header.html %}

    <!-- Content -->

    <div class="container mt-5">
      {{ content }}
    </div>


  </body>

  {% include_cached scripts/bootstrap.html %}
  {% include_cached scripts/mansory.html %}
  {% include_cached scripts/misc.html %}

</html>
